.App {
  margin: auto;
  width: 50%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myData{
  background-color: white;
  text-align: center;
  
}
.myTable{
  width: 100%;
  background-color:skyblue ;
  
  text-align: center;
  
  margin-left: 20px;
  
}


.maindiv{
  
  width: 100%;
  margin-left: 20px;
}
.btn{
  background-color: red;
  
}
.btn:hover{
  background-color:thistle;
}
.btn1{
  background-color: green;
  
}
.btn1:hover{
  background-color: lightgreen;
}
.myForm{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
  
  
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.btn2{
  background-color:olivedrab;
}
.btn2:hover{
  background-color: lightgreen;
}
.addp{
  background-color: green;
  width: 100%;
  
  text-align: center;
}
.showp{
  background-color: indianred;
  width: 100%;
  
  text-align: center;
  
}
.myForm1{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
  display: none;
  
}
.mySelect{
  margin: auto;
  width: 60%;
}